################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Article.MVC/.vs/Article.MVC/FileContentIndex/204b72cf-982f-47d4-9725-9fbf82f8ba5f.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/2a768ba8-86cc-41f6-970f-ce9b0081aa0d.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/76f7bf1a-968a-4a32-ac1f-e2974f76b9d6.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/30e7ee39-180c-4377-bc61-9f0019717044.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/537cd679-0612-48b7-94a8-4c37c9bc262e.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/a48ece9e-0fd4-4501-b50d-c27cca498d8d.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/d5a4e6cd-62e3-482c-98fb-65b9cc16426b.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/dc88760c-2b20-4ba3-b0d1-3d8394211d5f.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/c8e128b6-ea4b-4967-a017-e20625da78bb.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/fd6c6a86-e92a-4fd1-9491-6263ad39006d.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/06ca3956-cfd4-42b2-9889-33bdcda09f5d.vsidx
/Article.MVC/.vs/Article.MVC/FileContentIndex/2b396e22-04f1-436b-985f-b437d964e36f.vsidx
